@import "~src/_variables.scss";

.mat-toolbar {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;

  &-color-primary {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  .mat-icon {
    margin-bottom: 3px;
  }
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: $secondary-color;
  margin-left: 16px;
  cursor: pointer;
}

.menu-button {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: $secondary-color;
  padding: 8px 16px;
  margin-right: 8px;
  border: 1px solid $secondary-color;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    cursor: pointer;
  }

  &:active {
    background-color: darken($secondary-color, 10%);
    color: $primary-color;
  }
}

.mat-form-field {
  margin-right: 16px;

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-start {
    border-color: $primary-color;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-end {
    border-color: $primary-color;
  }

  .mat-form-field-ripple {
    color: $primary-color;
  }
}
