// Sass color vars (will be available in all the project)
$primary-color: #242426;
$secondary-color: #406ac1;

$form-color: #F0F8FFFF;

$tag-background: #cdcdcd;
$tag-background-hover: #ddd;
$tag-font-color: #666;

$date-color: $tag-font-color;

$green: #4fb84f;
$red: #F22121CC;

$main-font-family: 'Open Sans', sans-serif;

